<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37873016176-flctsu4ivmte6ttcdq90vfr3rqo4anhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37873016176-flctsu4ivmte6ttcdq90vfr3rqo4anhr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37873016176-0kvngfu82v0eemdbs0e8svru2ggtdqna.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIFh0624E-y5cxDTVi9_utb2u4B-WANTs</string>
	<key>GCM_SENDER_ID</key>
	<string>37873016176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.i69app.ios</string>
	<key>PROJECT_ID</key>
	<string>i69app-renewed2022</string>
	<key>STORAGE_BUCKET</key>
	<string>i69app-renewed2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37873016176:ios:d088b1fa3db0fd59d943b5</string>
</dict>
</plist>